body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 1440px) {
    /*Small Mobile Screens*/
}

@media only screen and (min-width: 1440px) {
    /*Medium Mobile Screens*/
}

@media only screen and (min-width: 1440px) {
    /*Large Mobile Screens*/
}

@media only screen and (min-width: 1440px) {
    /*Large laptop Screens*/
}

@media only screen and (min-width: 1440px) {
    /*Large laptop Screens*/
}


@media only screen and (min-width: 1440px) {
    /*Large laptop Screens*/
}