body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width:320px) {
    /*Small Mobile Screens*/
}

@media only screen and (min-width: 321px) and (max-width:375px) {
    /*Medium Mobile Screens*/
}

@media only screen and (min-width: 376px) and (max-width:425px) {
    /*Large Mobile Screens*/
}

@media only screen and (min-width: 426px) and (max-width:768px) {
    /*Tablet Screens*/
}

@media only screen and (min-width: 769px) and (max-width:1024px) {
    /*Laptop Screens*/
}


@media only screen and (min-width: 1025px) {
    /*Desktop Screens*/
}